.bigcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 200px;
  border-width: 2px;
  text-align: center;
}

.title {
  font-family: "Rowdies", cursive;
  font-size: 2rem;
  display: block;
}

.description {
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  font-style: normal;
  display: block;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.bigcard:hover .description {
  opacity: 1;
}
