<table id='main-table'>
    <tr>
        <th>Rank</th>
        <th>Roll No</th>
        <th>Name</th>
        <th>CPGA</th>
    </tr>
    {{#each students}}
    <tr>
        <td>{{rank}}</td>
        <td>{{roll}}</td>
        <td>{{name}}</td>
        <td>{{cgpa}}</td>
    </tr>
    {{/each}}
</table>
