:root {
    --bg-color : rgb(20,20,20)
}


body {
    justify-content: center;
    background-color: var(--bg-color);
    color: white;
    /* font-family: 'Roboto', sans-serif; */
    /* display: flex; */
    /* overflow: hidden; */
    /* padding: 0px; */
    /* margin: 0px; */
    /* height: 100vh; */
}



