<html>
    <head>
        <title>
            aaa
        </title>
    </head>

    <body>
        this is a header

        {{{body}}}

        this is a footer and i am a web developer. trust me bro.
    </body>
</html>
