@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@900&family=Inter:wght@300;800;900&family=Permanent+Marker&family=Poppins:wght@600&family=Rowdies:wght@700&display=swap");
@import url(https://fonts.bunny.net/css?family=bowlby-one:400);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --pallet-1: #282828; */
    /* --pallet-2: #3500d4; */
    /* --pallet-3: #0c0032; */
    /* --pallet-4: #230090; */

    /* --pallet-1: yellow; */
    /* --pallet-2: #8cfda7; */

    --background: Black;
    --foreground: White;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: white;
    --popover-foreground: black;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: #282828;
    --secondary-foreground: white;
    /* --secondary-background: #282828; */

    /* --accent: #3500d4; */
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

.dark {
  --background: #181a1b;
}
.heading-select {
  text-align: center;
  font-family: "Geologica", sans-serif;
  font-size: clamp(1.5em, 8vmin, 3em);
  font-weight: 800;
  font-variation-settings: "wdth" 200;
  margin-top: 60px;
  margin-bottom: 60px;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
  --table-header-bg: #181c4d;
  --table-header-fg: White;
  --table-header-hover-bg: #181c4d;
  --table-header-hover-fg: White;
  --table-header-button-bg: #181c4d;
  --table-header-button-fg: White;
  --table-header-button-hover-bg: #2c35ac;
  --table-header-button-hover-fg: White;
  --table-row-bg: #05060f;
  --table-row-fg: white;
  --table-row-hover-bg: #07081a;
  --table-row-hover-fg: "";
  --table-dropdown-button-bg: var(--table-header-bg);
  --table-dropdown-button-fg: var(--table-header-fg);
  --table-dropdown-button-hover-bg: var(--table-header-button-hover-bg);
  --table-dropdown-button-hover-fg: var(--table-header-button-hover-fg);
  --table-dropdown-bg: #181c4d;
  --table-dropdown-fg: "";
  --table-dropdown-hover-bg: #2c35ac;
  --table-dropdown-hover-fg: "";
  --table-border-color: White;
}

[data-theme="light"] {
  --table-header-bg: #74dbe7;
  --table-header-fg: Black;
  --table-header-hover-bg: #74dbe7;
  --table-header-hover-fg: Black;
  --table-header-button-bg: "";
  --table-header-button-fg: Black;
  --table-header-button-hover-bg: #2569d0;
  --table-header-button-hover-fg: White;
  --table-row-bg: #f2f2f2;
  --table-row-fg: "";
  --table-row-hover-bg: #cfdff7;
  --table-row-hover-fg: "";
  --table-dropdown-button-bg: #74dbe7;
  --table-dropdown-button-fg: "";
  --table-dropdown-button-hover-bg: #2569d0;
  --table-dropdown-button-hover-fg: White;
  --table-dropdown-bg: White;
  --table-dropdown-fg: "";
  --table-dropdown-hover-bg: #cfdff7;
  --table-dropdown-hover-fg: "";
  --table-border-color: #e5e7eb;
}
