.navbar {
  width: auto;
  height: 7vh;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-family: "Permanent Marker", sans-serif;
}

.navbarleft,
.navbarcenter,
.navbarright {
  flex: 1;
  display: flex;
  gap: 20px;
}

.navbarleft {
  justify-self: flex-start;
  justify-content: left;
}

.navbarcenter {
  justify-self: center;
  justify-content: center;
}

.navbarright {
  justify-self: flex-end;
  justify-content: right;
}

.active {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.navbaritem {
  transition-property: border-bottom;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  position: relative;
}

.navbaritem:not(.active):before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.2s ease-in-out;
  border-bottom: 2px solid;
}

.navbaritem:hover:before {
  width: 65%;
}

.navbardivider {
  height: 100%;
  display: inline-block;
  margin-right: 15px;
}
