@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@800&family=Inter:wght@800;900&family=Oswald:wght@700&family=Permanent+Marker&family=Roboto:wght@100;300;400&display=swap');
@import url(https://fonts.bunny.net/css?family=bowlby-one:400);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    /* --pallet-1: #282828; */
    /* --pallet-2: #3500d4; */
    /* --pallet-3: #0c0032; */
    /* --pallet-4: #230090; */

    /* --pallet-1: yellow; */
    /* --pallet-2: #8cfda7; */

    --background: Black;
    --foreground: White;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: var(--pallet-1);
    --popover-foreground: white;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: #282828;
    --secondary-foreground: white;
    /* --secondary-background: #282828; */

    /* --accent: #3500d4; */
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  /* .dark { */
  /*   --background: 224 71% 4%; */
  /*   --foreground: 213 31% 91%; */

  /*   --muted: 223 47% 11%; */
  /*   --muted-foreground: 215.4 16.3% 56.9%; */

  /*   --popover: 224 71% 4%; */
  /*   --popover-foreground: 215 20.2% 65.1%; */

  /*   --card: 224 71% 4%; */
  /*   --card-foreground: 213 31% 91%; */

  /*   --border: 216 34% 17%; */
  /*   --input: 216 34% 17%; */

  /*   --primary: 210 40% 98%; */
  /*   --primary-foreground: 222.2 47.4% 1.2%; */

  /*   --secondary: 222.2 47.4% 11.2%; */
  /*   --secondary-foreground: 210 40% 98%; */

  /*   --accent: 216 34% 17%; */
  /*   --accent-foreground: 210 40% 98%; */

  /*   --destructive: 0 63% 31%; */
  /*   --destructive-foreground: 210 40% 98%; */

  /*   --ring: 216 34% 17%; */

  /*   --radius: 0.5rem; */
  /* } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

body {
}

.heading-select {
  text-align: center;
  font-family: 'Geologica', sans-serif;
  font-size: clamp(1.5em, 8vmin, 3em);
  font-weight: 800;
  font-variation-settings: "wdth" 200;
  margin-top: 60px;
  margin-bottom: 60px;
}
